@import '../../../../styles.scss';

.products-container {
  max-width: 32%;
  margin: auto;
  background-color: $primaryBlue;
  padding: 5px;
  border-radius: 5px;
}

.products-header {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin: 10px 0px;
}

.product-list {
  list-style-type: none;
  padding: 0em;
}

.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
  background-color: $primaryGrey;
  margin: 0.5em;
  padding: 1em;
  outline: none;

  &:hover {
    background-color: $secondaryGrey;
  }
}

.product-information {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 20px;
}

.macros span {
  display: inline-block;
  margin: 0.5em 1em 0.5em 0em;
}

.product-add {
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .products-container {
    width: 40%;
    margin: auto;
  }
}
