.products-container {
  width: 80%;
  margin: auto;
}

.products-header {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin: 10px 0px;
}

.product-list {
  list-style-type: none;
  padding: 0em;
}

.product-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
  background-color: rgb(223, 222, 222);
  margin: 0.5em;
  padding: 1em;
}

.product-information {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 20px;
}

.macros span {
  margin: 0.5em 1em 0.5em 0em;
}

.product-item:hover {
  background-color: rgb(139, 139, 139);
}

.product-add {
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .products-container {
    width: 40%;
    margin: auto;
  }
}
