@import './../../styles.scss';

.lds-dual-ring {
  display: inline-block;
  width: 100%;
  &:after {
    content: ' ';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid $primaryGrey;
    border-color: $primaryGrey transparent $primaryGrey transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
