/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*Colors*/
$primaryGrey: #dfdede;
$secondaryGrey: #8b8b8b;

$primaryBlue: #2083da;

/*Material icons*/
.material-icons {
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}
